.container-custom {
	margin: auto;
	max-width: 1080px;
}

#main-image {
	background: url("./assets/bg7-880x495.jpg") no-repeat center;
	height: 275px;
	max-width: 880px;
}
.bposts {
	max-width: 880px;
	scroll-margin-top: 4rem;
}

p > span,
li > span {
	font-weight: 700;
}

#evpn-logo {
	background: url("./assets/EVPN-logo-200x118.png") no-repeat center;
}
@media (min-width: 992px) {
	#evpn-logo {
		background: url("./assets/EVPN-logo-250x147.png") no-repeat center;
	}
}

@media (min-width: 1200px) {
	#evpn-logo {
		background: url("./assets/EVPN-logo-300x176.png") no-repeat center;
	}
}

@media (min-width: 768px) {
	.central-card,
	#red-button-one {
		width: 75%;
	}
}

/*AO page*/

#ao-main-image {
	background: url("./assets/AO6-484x484.png") no-repeat center;
	height: 450px;
}

@media (min-width: 768px) {
	#ao-main-image {
		/* background: url("./assets/AO6-670x670.png") no-repeat center; */
		background: url("./assets/AO5-827x275.jpg") no-repeat center;
		height: 275px;
	}
}

/* @media (min-width: 992px) {
	#ao-main-image {
		background: url("./assets/AO6-800x800.png") no-repeat center;
		height: 450px;
	}
} */

@media (min-width: 992px) {
	#ao-main-image {
		/* background: url("./assets/AO6-880x880.png") no-repeat center; */
		background: url("./assets/AO5-827x275.jpg") no-repeat center;
		height: 275px;
	}
}

/*French Open page*/

#french-main-image {
	background: url("./assets/FO1-1140x641.jpg") no-repeat center;
	height: 275px;
}

/*Wimbledon page*/

#wimbledon-main-image {
	background: url("./assets/Wimby1-1140x641.jpg") no-repeat center;
	/* background: url("./assets/Wimby4-880x550.jpg") no-repeat center; */
	height: 275px;
}

/*US Open page*/

#uso-main-image {
	background: url("./assets/USO1-1140x641.jpg") no-repeat center;
	background: url("./assets/USO3.jpg") no-repeat center;
	/* background: url("./assets/us-open-880x495.jpg") no-repeat center; */

	height: 275px;
}

/* Odds tables */
.odds-container {
	font-size: 1rem;
	text-align: center;
	top: 10%;
}

.odds {
	display: grid;
	font-size: 0.9rem;

	grid-template-rows: auto;
	grid-template-columns: auto repeat(2, 1fr);
}

.odds-header,
.odds-data {
	text-align: right;
}

.odds-header {
	border-bottom: 1px solid;
}

.card-custom {
	border-left: 4px solid;
}

.btn-hover {
	transition: all 0.5s ease;
}

.btn-hover:hover {
	background-color: rgb(233, 104, 121);
	color: rgb(229, 255, 0);
	text-decoration: underline;
	transform: scale(1.05);
}
